body {
    background-color: #000;
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    color: #fff;
}

.logo-container {
    text-align: center;
    margin-top: 0.1px;
    margin-bottom: 0.5px; /* Espacio reducido entre el logo y las casillas */
}

h2 {
    text-align: center;
    color: #fff;
}

.input-group, .result-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    margin-right: 10px;
    flex: 1;
}

input[type="number"], input[type="text"], select {
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
    border: 1px solid #fff;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 48%;
    text-align: center;
}

.calc-button {
    background-color: #FF0000; /* Rojo */
    border-radius: 10px;
}

.calc-button:hover {
    background-color: #E60000; /* Rojo oscuro */
}

.clear-button {
    background-color: #ffdd00b6; /* Amarillo */
    border-radius: 10px;
}

.clear-button:hover {
    background-color: #FFCC00; /* Amarillo oscuro */
}

h3 {
    margin-top: 20px;
    text-align: center;
}

.result-group input[type="text"] {
    background-color: #333;
    border: 1px solid #fff;
    color: #fff;
}

.result-explosion {
    animation: explosion 1s ease-in-out;
}

@keyframes explosion {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.fade-out {
    animation: fadeOut 2s ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Estilo para el footer */
footer {
    font-size: 10px; /* Tamaño de fuente más pequeño */
    text-align: left;  /* Alineación a la izquierda */
    padding: 10px;    /* Espacio interno del footer */
    margin: 20px 0;   /* Separación del footer con el resto del contenido */
    background-color: #000000; /* Color de fondo claro para mayor visibilidad (opcional) */
    color: #333;      /* Color del texto */
}

/* Estilo para los enlaces dentro del footer */
footer a {
    color: #007bff;  /* Color de los enlaces */
    text-decoration: none; /* Sin subrayado en los enlaces */
}

/* Efecto al pasar el mouse sobre los enlaces */
footer a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse sobre el enlace */
}
